{% extends "base.html" %}
{% block title %} Lista de Libros {% endblock %}

{% block contenido %} 
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="{% url 'crear_libro' %}" role="button">Agregar Nuevo Libro</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Libros</h4>
           <table class="table">
               <thead>
                   <tr>
                       <th>ID</th>
                       <th>Titulo</th>
                       <th>Imagen</th>
                       <th>Descripcion</th>
                       <th>Acciones</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td>1</td>
                       <td>Django Con Python</td>
                       <td>Imagen.jpg</td>
                       <td>Libro Que Habla Sobre el Framework Django</td>
                       <td>Editar | Borrar</td>
                   </tr>
               </tbody>
           </table>
           
        </div>
    </div>
{% endblock %}
